@import '../../layout/variables';

.intro {
	padding-bottom: 0;

	img {
		padding-right: 0;
	}

	h1 {
		font-size: 3.4rem;
	}

	h3 {
		font-size: 1.6rem;
		font-weight:300;
	}

	.desc2 {
		margin-top: -0.8rem;
	}

	.text-center {
		text-align: center !important;
	}

	.blink {
		font-size: 2rem;
		-webkit-animation-name: blinker;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-name: blinker;
		-moz-animation-duration: 1s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: infinite;
		animation-name: blinker;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.highlight { color: $blue-color; }

	@media only screen and (max-width: 990px) {
		.desc1 {
			text-align: center;
		}
	}
	
	@media only screen and (min-width: 991px) {
		img {
			padding-right: 0;
		}
		
		.desc1 {
			position: relative;
			left: 6%;
			padding-right: 0;
			padding-top: 6rem;
		}
	}
}

@-webkit-keyframes blinker {
	0% {
			opacity: 1;
	}

	50% {
			opacity: 0;
	}

	100% {
			opacity: 1;
	}
}

@keyframes blinker {
	0% {
			opacity: 1;
	}

	50% {
			opacity: 0;
	}

	100% {
			opacity: 1;
	}
}