.timeline {
	/** This class is used to give a max-width to the element it is applied to,
	and center it horizontally when it reaches that max-width */
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;

	.block {
		position: relative;
		margin: 2em 0;
	}
	.block::after {
		clear: both;
		content: "";
		display: table;
	}
	.block:first-child {
		margin-top: 0;
	}
	.block:last-child {
		margin-bottom: 0;
	}

	.img {
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: 0 0 0 4px var(--blue), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
		background-color: var(--white);
		z-index: 1;
	}

	.img img {
		display: block;
	}

	.content {
		position: relative;
		margin-left: 60px;
		background: #fafafa;
		border-radius: 0.25rem;
		padding: 1rem;
		box-shadow: 3px 3px 20px grey;
	}
	.content::after {
		clear: both;
		content: "";
		display: table;
	}
	.content h2 {
		color: #303e49;
	}
	.content p, .content ul>li>a, .content .read-more, .content .date {
		font-size: 0.9rem;
	}
	.content .content .date {
		display: inline-block;
	}
	.content .read-more {
		text-decoration-line: none;
		float: right;
		padding: .6rem 1rem;
		background: #ffffff;
		color: var(--pink);
		border-radius: 0.25rem;
		border: 2px solid var(--pink);
	}
	.content .read-more:hover {
		text-decoration: none;
		text-decoration-line: none;
		background: var(--pink);
		color: var(--white);
	}
	.content .date {
		float: left;
		padding: .8rem 0;
		opacity: .7;
	}
	.content::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid #ffffff;
	}
}

.timeline::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

.timeline::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
	.timeline {
		margin-top: 3rem;
		margin-bottom: 3rem;

		.block {
			margin: 4rem 0;
		}
		.block:first-child {
			margin-top: 0;
		}
		.block:last-child {
			margin-bottom: 0;
		}

		.img {
			width: 60px;
			height: 60px;
			left: 50%;
			margin-left: -30px;
			/* Force Hardware Acceleration in WebKit */
			-webkit-transform: translateZ(0);
			-webkit-backface-visibility: hidden;
		}

		.content {
			margin-left: 0;
			padding: 1.6rem;
			width: 45%;
		}
		.content::before {
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: #ffffff;
		}
		.content .read-more {
			float: left;
		}
		.content .date {
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
			font-size: 16px;
			font-size: 1rrem;
		}
		.block:nth-child(even) .content {
			float: right;
		}
		.block:nth-child(even) .content::before {
			top: 24px;
			left: auto;
			right: 100%;
			border-color: transparent;
			border-right-color: #ffffff;
		}
		.block:nth-child(even) .content .read-more {
			float: right;
		}
		.block:nth-child(even) .content .date {
			left: auto;
			right: 122%;
			text-align: right;
		}
		.content.is-hidden {
			visibility: hidden;
		}
		.content.bounce-in {
			visibility: visible;
			-webkit-animation: block-bounce-2 0.6s;
			-moz-animation: block-bounce-2 0.6s;
			animation: block-bounce-2 0.6s;
		}
	
		.img img {
			width: 50px;
			height: 50px;
			position: relative;
			left: 28%;
			top: 25%;
			margin-left: -12px;
			margin-top: -12px;
		}
	
		/* inverse bounce effect on even content blocks */
		.block:nth-child(even) .content.bounce-in {
			-webkit-animation: block-bounce-2-inverse 0.6s;
			-moz-animation: block-bounce-2-inverse 0.6s;
			animation: block-bounce-2-inverse 0.6s;
		}
	}

	.timeline::before {
		left: 50%;
		margin-left: -2px;
	}
}

.is-hidden {
		visibility: hidden;
	}

.bounce-in {
	visibility: visible;
	-webkit-animation: block-bounce-1 0.6s;
	-moz-animation: block-bounce-1 0.6s;
	animation: block-bounce-1 0.6s;
}

@-webkit-keyframes block-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes block-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-moz-transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes block-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@media only screen and (max-width: 768px) {
	.content h2 {
		font-size: 20px;
		font-size: 1.25rrem;
	}
	.content p {
		font-size: 16px;
		font-size: 1rrem;
	}
	.content .read-more, .content .date {
		font-size: 14px;
		font-size: 0.875rrem;
	}
}

@media only screen and (max-width: 1169px) {
	.img img {
		position: relative;
		left: 10%;
		top: 10%; 
	}
}

@-webkit-keyframes block-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes block-bounce-2 {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes block-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes block-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes block-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes block-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

.timeline-title {
	text-align: center;
	margin-top: -2rem;
	margin-bottom: 4rem;
}